<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Lima_OrderExporter::order_exporter" title="Order Exporter" sortOrder="10">
                    <resource id="Lima_OrderExporter::queue" title="Queue" sortOrder="100"/>
                    <resource id="Lima_OrderExporter::configuration" title="Configuration" sortOrder="200"/>
                    <resource id="Lima_OrderExporter::webook_sales" title="Configuration" sortOrder="250"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
